GROQ_API_KEY=your_groq_api_key_here
# DATABASE_URL=sqlite:///./prescriptions.db
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres
GROQ_MODEL=llama-3.2-3b-instruct
TROCR_MODEL=microsoft/trocr-large-handwritten
OPENFDA_BASE=https://api.fda.gov/drug/label.json